/*_main.css file________________________________*/

* {
    padding: 0;
    margin: 0;
}


/*_general elements_____________________________*/

body {
    background-color: #474747;
}

header {
    border-bottom: 5px solid white; 
}

body, h2, h3, {
    font-family: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, helvetica, sans-serif;
    font-weight: normal; 
}

p {
    font-size: 12px; 
    margin-bottom: 15px;
}

ul {
    list-style: none; 
    padding-left: 35px;  
}

li {
    font-size: 10px; 
}

a {
    text-decoration: none;
}

a:hover {
    color: #fff; 
}

.link-under {
    text-decoration: underline; 
    color: #369; 
}

footer {
    background: linear-gradient(to bottom right, rgb(17, 89, 148) 5%, #4682B4);
    text-align: right; 
    word-spacing: 20px; 
    font-size: 12px;
    border-top: 1px solid white; 
    padding: 5px 20px 5px 20px; 
}

footer a {
    color: white; 
}

footer a:hover {
    color: #9cf; 
}

/*_grid________________________________________*/

#main-wrapper {
    width: 700px;
    margin: 20px auto; 
    border: 5px solid white; 
}

.column-container {
    background-color: #9cf;  

}

.right-column {
    float: right; 
    width: 70%;
    padding: 10px 15px 10px 5px;  
}

.left-column {
    float: left; 
    width: 25%; 
    padding: 10px auto; 
}

/*_custom________________________________________*/

.blueheader {
    border: 1px solid white; 
    color: white; 
    background: linear-gradient(to bottom right, rgb(15, 75, 124), #64a8ed);
    margin-bottom: 2px;
    font-weight: normal; 
    letter-spacing: -1px; 
    word-spacing: -1px; 
}

.right-column h2, h3, p {
    padding-left: 6px; 
}

.summary {
    font-size: 11px; 
    padding-left: 25px; 
    padding-right: 45px; 
    margin-bottom: -1px; 
}

p.summary {
    padding-left: 35px; 
    padding-right: 55px; 
}

#header-image {
    width: 100%; 
    margin-bottom: -7px;  text-align: right;
}

.left-section {
    border-right: 1px solid white;
    border-bottom: 1px solid white;    
    padding-top: 5px; 
    padding-bottom: 27px; 
}
.side-heading {
    display:flex; 
    font-size: 14px;  
    margin: 5px 15px; 
}

.left-header {
  margin-left: -10px; 
}

.main-links {
  color: #000; 
}

.leftAbbr-style {
    text-decoration: none; 
}

.designer{
  color: #369; 
}


.download {
    margin-top: -20px; 
    font-size: 11px; 
    border-right: 1px solid white;
    border-bottom: 1px solid white;  
    padding: 25px 55px 25px 35px; 
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}